<a class="hero" href="#content">
  <div class="text">
    <h1>where creativity meets completion</h1>
  </div>
  <div class="filter"></div>
  <img src="/assets/landing-fs8.jpg">
  <div class="continue">
    Continue
    <span class="chevron"></span>
  </div>
</a>
<a name="content"></a>
<div class="content">

  <a name="about"></a>
  <section>
    <p>
      <span class="brand-text">ArcSine</span> is my personal brand / company. Ever since I was a
      young child, the idea of running a company has been ingrained in my mind, and this is the
      fruition of that dream. <span class="brand-text">ArcSine</span> is about integrity, passion,
      excellence and bettering the world. I'm fully of the belief that the entire point of
      technology is to impact humanity in a meaningful way. We do not write software just to
      program, but to improve the lives of those around us.
    </p>

    <p>
      My goal is to create software that not only pushes the bounds of what software is capable of,
      but also to meet real needs. As someone who has been writing software for over 20 years, there
      are so many systemic issues with how we develop software. So often we only partially meet
      people's needs, or we meet certain needs while making other activities harder. Starting from
      the perspective that people are the end goal transforms how we visualize solutions.
    </p>
  </section>

  <section>
    <h2>Experience</h2>
    <p>
      My experiences and education have led me to think through problems holistically. My experience
      and interests range from user experience and user interfaces all the way to framework
      authoring, compilers, and query parsing. I studied Computer Science in college, and have
      fallen in love with Software Engineering throughout my career. In the process of growing my
      career, another key area of interest has been mentoring. All of these areas help me to
      understand problems from many different angles, and to see new solutions that extend beyond
      just writing code.
    </p>
  </section>

  <a name="projects"></a>
  <section>
    <h2>Projects</h2>
    <p>
      Throughout my career, I've built many different tools, solutions, products with the express
      goal of making my job easier. More and more I've pushed to share these tools with other
      people, to enrich other's lives. I've gotten to explore how to take the tool from something
      that helps just me, to being something that helps others. Below are a sample of the open
      source projects I've created over the past few years.
    </p>
  </section>

  <section class="left">
    <h3>
      Nodesh
      <a href="https://github.com/arciisine/nodesh" target="_blank">Source</a>
    </h3>
    <p>
      A common problem I've faced in my career, is being able to share and maintain bash scripts.
      Nodesh is a library with the purpose of providing a shell-like programming experience within
      node. The library is written in typescript, and so the typing support is fantastic. It is
      async-generator oriented, meaning it streams iteratively, similar to how shell commands and
      piping work. The goal here is simplicity of usage as well as authoring.
    </p>
  </section>

  <section class="right img">
    <a href="https://github.com/arciisine/nodesh" target="_blank">
      <img src="/assets/project-nodesh-fs8.png">
    </a>
  </section>

  <section class="left img">
    <a href="https://marketplace.visualstudio.com/items?itemName=arcsine.npx-scripts"
      target="_blank">
      <img src="/assets/project-npx-scripts-fs8.png">
    </a>
  </section>

  <section class="right">
    <h3>VSCode npx-scripts
      <a href="https://github.com/arciisine/vscode-npx-scripts" target="_blank">Source</a>
    </h3>
    <p>
      This is a sister project of <a href="https://github.com/arciisine/nodesh"
        target="_blank">nodesh</a>, with the intent of facilitating the authoring process for
      npx-based scripts. The goal is to create a tool-chain that takes the pain out of script
      authoring, and sharing. This project combines two interests of mine, shell scripting and
      type-safety. This tool allows for acquisition of types for any library that supports global
      types.

    </p>
  </section>


  <section class="left">
    <h3>
      Travetto Framework
      <a href="https://github.com/travetto/travetto" target="_blank">Source</a>
    </h3>
    <p>
      I've worked on many different web-based solutions, using frameworks such as Spring, Struts,
      Django, Wordpress, Express, Flask, etc. One of the main take away I had from using these
      frameworks is the general difficulty of navigating features, as well as being able to iterate
      quickly. I took a vision of a responsive, simple, useful application framework and brought it
      to fruition.
    </p>
  </section>

  <section class="right img">
    <a href="https://travetto.dev" target="_blank">
      <img src="/assets/project-travetto-fs8.png">
    </a>
  </section>

  <section class="left img">
    <a href="https://marketplace.visualstudio.com/items?itemName=arcsine.chronicler"
      target="_blank">
      <img src="/assets/project-chronicler-fs8.png">
    </a>
  </section>

  <section class="right">
    <h3>VSCode Chronicler
      <a href="https://github.com/arciisine/vscode-chronicler" target="_blank">Source</a>
    </h3>
    <p>
      In the process of generating documentation, I realized that recording screen activity is
      challenging. Especially when dealing with a cross platform development experience. There are
      many platform specific tools, but this falls flat when trying to work in a heterogeneous
      development environment. So, in the process I decided to build my own tool, to facilitate
      recording, ensuring it worked on all platforms.
    </p>
  </section>

  <section class="left">
    <h3>Material Theme Generator
      <a href="https://github.com/arciisine/MaterialThemeGenerator" target="_blank">Source</a>
    </h3>
    <p>
      During the course of my professional career, I've gotten to use Angular, and one of the
      benefits is the Material integration. This is essentially a UI Toolkit based on the material
      design spec. The primary drawback is the difficulty in configuring the theme of the toolkit.
      Working through use cases and feedback from designers, I created a tool that allows for
      real-time theme configuration with the ability to share, and export themes.
    </p>
  </section>

  <section class="right img">
    <a href="http://materialtheme.arcsine.dev" target="_blank">
      <img src="/assets/project-materialtheme-fs8.png">
    </a>
  </section>

  <a name="contact"></a>
  <section class="contact">
    <h2>Contact Me</h2>
    <p>
      I'm always open to communications, so please feel to reach out on social media, email or via
      LinkedIn.
    </p>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/arciisine" title="github">
          <img src="/assets/github.svg" alt="github">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://stackoverflow.com/users/654141/arcsine?tab=profile"
          title="stackoverflow">
          <img src="/assets/stackoverflow.svg" alt="stackoverflow">
        </a>
      </li>
      <li><a target="_blank" href="https://marketplace.visualstudio.com/publishers/arcsine"
          title="VSCode Marketplace">
          <img src="/assets/vscode.svg" alt="VSCode Marketplace">
        </a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/arcsine/" title="linkedin">
          <img src="/assets/linkedin.svg" alt="linkedin">
        </a></li>
      <li><a target="_blank" href="mailto:arciisine@gmail.com" title="email">
          <img src="/assets/email.svg" alt="email">
        </a></li>
      <li>
        <a target="_blank" href="https://twitter.com/arciisine" title="twitter">
          <img src="/assets/twitter.svg" alt="twitter">
        </a>
      </li>
    </ul>
  </section>
</div>
