<div class="hero">
  <div class="text">
    <h1>where creativity meets completion</h1>
  </div>
  <div class="filter"></div>
  <img src="/assets/landing.jpg">
  <a href="#content">
    Continue
    <span class="chevron"></span>
  </a>
</div>
<a name="content"></a>
<div class="content">

  <p>
    <span class="brand-text">ArcSine</span> is my personal brand / company. Ever since I was a young child, the idea of running a company has
    been ingrained in my mind, and this is the fruition of that dream. <span class="brand-text">ArcSine</span> is about integrity, passion,
    excellence and bettering the world. I'm fully of the belief that the entire point of technology is to impact humanity in a meaningful way. We do not
    write software just to program, but to improve the lives of those around us.
  </p>

  <p>
    My goal is to create software that not only pushes the bounds of what software is capable of, but also to meet real needs. As someone who
    has been writing software for over 20 years, there are so many systemic issues with how we develop software. So often we only partially
    meet people's needs, or we meet certain needs while making other activities harder. Starting from the perspective that people are the
    end goal transforms how we visualize solutions.
  </p>

  <p>
    My experiences and education have led me to think through problems holistically. My experience and interests range from user experience and
    user interfaces all the way to framework authoring, compilers, and query parsing. I studied Computer Science in college, and have fallen in
    love with Software Engineering throughout my career. In the process of growing my career, another key area of interest has been mentoring.
    All of these areas help me to understand problems from many different angles, and to see new solutions that extend beyond just writing code.
  </p>


</div>