<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <img src="/assets/logo.svg">
  <h1>
    <a href="/">
      ArcSine
    </a>
  </h1>
  <ul>
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    <li>
      <a href="https://github.com/arciisine" target="_blank">
        <img src="/assets/github.svg" alt="github">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/arciisine" target="_blank">
        <img src="/assets/twitter.svg" alt="twitter">
      </a>
    </li>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<a name="footer" class="scroll-point"></a>
<div class="footer">
  <p>
    Contact: <a href="mailto:arciisine@gmail.com">email</a>
  </p>
  <p>
    Copyright 2018, ArcSine, All Rights Reserved
  </p>
</div>