$header-height: 45px;
$footer-height: 40px;

:host {
  display: grid;
  grid-template-areas:
    "header"
    "content";

  grid-template-rows: $header-height 1fr;
  min-height: 100vh;
  width: 100%;


  .header {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    grid-area: header;
    background: transparent;
    display: grid;
    grid-template-areas: "img title menu";
    grid-template-columns: $header-height 0px 1fr;
    grid-template-rows: 1fr;
    background-color: #333;

    a {
      color: white;
      text-decoration: none;
    }

    >img {
      grid-area: img;
      margin: 0;
      padding: 8px;
      display: block;
      height: $header-height - 16px;
      width: $header-height - 16px;
    }

    h1 {
      grid-area: title;
      margin: 0;
      font-size: 2.5rem;
      display: block;
      line-height: $header-height;
      color: white;
    }

    ul {
      grid-area: menu;
      margin: 0;
      display: block;
      text-align: right;
      margin-right: 10px;

      li {
        font-size: 1.5rem;
        line-height: $header-height;
        display: inline-block;
        margin-left: 1em;

        a {
          color: rgba(255, 255, 255, .8);
          text-decoration: none;
          display: inline-block;
          height: 100%;
          padding: 0;
          margin: 0;
          transition: .25s all ease-in-out;

          &:hover {
            color: #fff;

            img {
              opacity: 1;
            }
          }

          img {
            transition: .25s all ease-in-out;
            vertical-align: top;
            height: $header-height*.4;
            display: inline-block;
            margin-top: $header-height*.3;
            opacity: .8;
          }
        }
      }
    }
  }

  .content {
    margin-top: $header-height;
    background: #e8e8e8;
    min-height: 100vh;
    z-index: 1;

    ::ng-deep &>* {
      display: block;
      width: 100%;
    }

    >router-outlet {
      display: none;
    }
  }

  .footer {
    display: block;
    text-align: center;
    color: white;
    background: #4cab42;
    height: $footer-height;
    line-height: $footer-height;

    p {
      margin: 0;
      padding: 0;
    }
  }
}


:host.full-content {
  grid-template-areas: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @for $i from 0 through 10 {
    &[delta="#{$i*10}"] {
      .header {
        background-color: rgba(40, 40, 40, ($i*9)/100);
      }
    }
  }

  .header,
  .content {
    grid-column: 1;
    grid-row: 1;
  }

  .content {
    margin-top: 0;
  }

  .header {
    max-height: $header-height;
    transition: all .2s ease-in-out;
  }
}